# macOS system files
.DS_Store

# Build directories
/build/

# IDE-specific files and directories
.vscode/

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~.nib


node_modules/

package-lock.json

.specmatic/