# macOS system files
.DS_Store

# Build directories
/build/

# IDE-specific files and directories
.vscode/
.idea

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~.nib


node_modules/

package-lock.json

.specmatic/

kafka-logs/

# ignore the built file of bff go app.
main

specmatic-order-bff-go
build/